button {
  border: none;
  color: white;
  background-color: #B0B0B0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  width: 40%;
}

button:hover {
  background-color: #999999;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}

input
{
  width: 40%;
}
